<!-- Footer -->
<footer class="footer">
  <div class="container page-width">
    <div class="newsletter-row text-center">
      <h1>SUBSCRIBE TO NEWSLETTER</h1>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
      <form class="d-flex justify-content-center">
          <input type="email" placeholder="Enter your email"><button>SUBSCRIBE</button>
      </form>
    </div>
    <div class="links-row d-flex flex-wrap">
      <div class="col-lg-3 col-md-4 col-6 mb-5">
        <h1>Information</h1>
        <ul>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Secure Payments</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Login</a></li>
          <li><a href="">Stores</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-6 mb-5">
        <h1>Account</h1>
        <ul>
          <li><a href="">Delivery</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Search Here</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-5">
        <h1>Our Company</h1>
        <ul>
          <li><a href="">Delivery</a></li>
          <li><a href="">Legal Notice</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Secure Payment</a></li>
          <li><a href="">FAQs</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <h1>Address</h1>
        <p><i class="bi bi-geo-alt-fill me-2"></i>33 New Montgomery St. Ste 750 San Francisco, CA, USA 94105</p>
        <p><i class="bi bi-telephone-inbound-fill me-2"></i> +1 1234 56 789</p>
        <p><i class="bi bi-envelope-fill me-2"></i> contact@example.com</p>
        <ul class="d-flex gap-3">
          <li><i class="bi bi-twitter"></i></li>
          <li><i class="bi bi-instagram"></i></li>
          <li><i class="bi bi-pinterest"></i></li>
          <li><i class="bi bi-facebook"></i></li>
          <li><i class="bi bi-youtube"></i></li>
        </ul>
      </div>
    </div>
    <div class="copyright-row page-width d-md-flex justify-content-between">
        <div class="copyright">
          © 2024, Droner Demo Store Powered By Shopify
        </div>
        <ul class="payment-list d-flex gap-2 mt-md-0 mt-3">
          <li><img src="images/paypal.svg" alt="paypal"></li>
          <li><img src="images/visa.svg" alt="visa"></li>
          <li><img src="images/mastercard.svg" alt="mastercard"></li>
          <li><img src="images/maestro.svg" alt="maestro"></li>
          <li><img src="images/alipay.svg" alt="alipay"></li>
          <li><img src="images/elo.svg" alt="elo"></li>
        </ul>
    </div>
  </div>
</footer>