<!-- About Us Section -->
<section class="about-us text-white">
  <div class="bg-img">
    <h1>About Us</h1>
  </div>
  <div class="row page-width px-3">
    <div class="col-md-6 mt-5 pe-md-5">
      <h2>Our Story</h2>
      <p>Welcome to DJI, your number one source for all things drones. We're dedicated to providing you the very best of aerial technology, with an emphasis on innovation, reliability, and customer service.</p>
      <p>Founded in 2019, DJI has come a long way from its beginnings. When DJI first started out, their passion for high-tech aerial photography drove them to start their own business.</p>
    </div>
    <div class="col-md-6 mt-5 ps-md-5">
      <h2>Our Mission</h2>
      <p>At DJI, we believe that the sky is not the limit; it's just the beginning. Our mission is to empower creators and explorers around the world to see and capture their surroundings in ways never before possible.</p>
      <div class="img-wrap d-flex justify-content-center">
        <img src="images/plane-landing-icon.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<!-- Products Section -->
<section class="about-products mt-5 py-5">
  <div class="container page-width px-4 text-center">
    <h2 class="mb-5 text-white"> <i class="bi bi-x"></i> Our Featured Products <i class="bi bi-x"></i> </h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="wrap wrap-1">
          <sub class="text-danger">Multiple Focal Length Triple-Lens Flagship Camera Drone</sub>
          <h3 class="mt-2">DJI MAVIC 3 Pro</h3>
          <p>Inspiration in Focus</p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="wrap wrap-2">
          <sub class="text-danger">All-In-One Mini Drone</sub>
          <h3 class="mt-2">DJI MINI 4 PRO</h3>
          <p>Mini to the Max</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="wrap wrap-3">
          <sub class="text-danger">Advanced All-Around Drone With Dual Cameras
          </sub>
          <h3 class="mt-2">DJI AIR 3</h3>
          <p>Double Up</p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="wrap wrap-4">
          <sub class="text-danger">Integrated Aerial Cinema Camera</sub>
          <h3 class="mt-2">DJI INSPIRE 3</h3>
          <p>Master the Unseen</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Why Choose Us Section -->
<section class="about-why-us py-5 text-white">
  <div class="container page-width px-4">
    <h2 class="text-center mb-5">Why Choose Us?</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <i class="bi bi-headset"></i>
        <h4>Expert Guidance</h4>
        <p>Our team is comprised of drone enthusiasts and experts who are always ready to help you navigate through the drone world.</p>
      </div>
      <div class="col-md-4">
        <i class="bi bi-box-seam"></i>
        <h4>Packaging & Shipping</h4>
        <p>We ensure that your products reach you in perfect condition, ready to soar.</p>
      </div>
      <div class="col-md-4">
        <i class="bi bi-arrow-clockwise"></i>
        <h4>Replace & Refund</h4>
        <p>Not happy with your purchase? Our hassle-free return policy has got you covered.</p>
      </div>
    </div>
  </div>
</section>
