<div class="blog-post pb-3 pt-5 bg-white">
  <div class="mb-5">
    <div class="page-width px-4">
      <div class="col-12 blog-header d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
        <a href="/blog" class="blog-btn mb-2 mb-md-0 btn"> <i class="bi bi-caret-left-fill"></i> Go Back to Blog</a>
        <h1 class="text-center text-md-left"><%= blog.title %></h1>
        <p class="text-muted text-center text-md-right"><%= blog.date %></p>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <img src="<%= blog.image %>" class="img-fluid rounded w-100">
        </div>
        <div class="col-12 col-lg-6">
          <h4><%= blog.description %></h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem facere neque quos labore. Dolorum debitis ullam tempore consectetur doloremque exercitationem dolorem mollitia provident, illum neque. Nostrum adipisci vero perferendis ratione tempore est modi vitae voluptatibus temporibus voluptate, molestias consequatur repellat accusamus sed repudiandae quo exercitationem aspernatur itaque excepturi impedit dolores, corporis quas esse enim. Quisquam deserunt voluptas, totam sunt minima expedita explicabo excepturi quos dolores, fuga, enim quibusdam? Distinctio libero nisi nostrum atque at recusandae provident quia, dolorem non veritatis, eaque voluptatibus laudantium sit tempora debitis, ipsa labore deserunt dicta nesciunt incidunt totam aliquid. Atque ab maxime quae aspernatur earum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
