<div class="dashboard d-flex justify-content-center align-items-center">
  <div class="card rounded bg-white shadow text-center">
    <div class="logo text-start">
      <img src="images/logo-black.svg"> 
    </div>
    <div class="success-icon">
      <i class="bi bi-check-circle"></i>
    </div>
    <div class="message">
      Login Successful
    </div>
    <div class="description text-secondary">
      Successfully obtained account authorization from Google. Your account will now be bound to your DJI account.
    </div>
    <div class="log-out">
      <a href="/home" class="text-primary">Log out</a>
    </div>
  </div>
</div>
